body {
    margin: 0 auto;
    cursor: url('../images/finger.cur'), default;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 200px;
    color: #000;
}
h2 {
    font-family: 'Times New Roman', serif;
    font-size: 200px;
    color: #000;
}
h3 {
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    color: #000;
}
h4 {
    font-family: 'Times New Roman', serif;
    font-size: 100px;
    color: #000;
}
h5 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #000;
}
h6 {
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    color: #000;
}
.line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -44px;
}
.line2 {
    position: relative;
    margin-top: -40px;
}
/* Базовые стили текста */
.shaky-text-up {
    display: inline-block;
    cursor: pointer;
    animation: shake-up 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake-up {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(-10px);
    }
}
.line3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -30px;
}
.line4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
/* Базовые стили текста */
.shaky-text {
    display: inline-block;
    cursor: pointer;
}
/* Анимация при наведении */
.shaky-text:hover {
    animation: shake 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
}
.line5 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -46px;
}
.running-text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    animation: marquee 6s linear infinite;
}
.running-text::before {
    content: attr(data-content);
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 100%;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.line6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line7 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -16px;
}
.shaky-text-auto {
    display: inline-block;
    cursor: pointer;
    animation: shake-auto 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake-auto {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
}
.line8 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -40px;
}
.rotate-text {
    transition: transform 0.3s ease;
}
  /* Анимация */
  .rotate-text:hover {
    transform: rotate(180deg);
}
.line9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.line10 {
    position: relative;
    margin-top: -20px;
}
.line11 {
    text-align: right;
    position: relative;
    margin-top: -50px;
}
.line12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line13 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -34px;
}
img {
    width: 100%;
    height: auto;
}
.pict_line1_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line1_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line1 {
    margin-top: -32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pict_line1_left img {
    transition: transform 0.3s ease-in-out;
}
.pict_line1_left img:hover {
    transform: scale(1.1);
}
.pict_line1_left img:hover {
    transform: scale(1.1);
}
.pict_line1_left .lol img:hover {
    content: url('../images/Lol_hover.png');
}
.pict_line1_left .mike img:hover {
    content: url('../images/Mike_hover.png');
}
.pict_line1_left .bugurt img:hover {
    content: url('../images/Bugurt_hover.png');
}
.pict_line1_right .nichosi img:hover {
    content: url('../images/nichosi_hover.png');
}
.line14 {
    position: relative;
    margin-top: -46px;
}
.line15 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line16 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -50px;
}
.line17 {
    position: relative;
    margin-top: -46px;
}
.line18 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -28px;
}
.line19 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}
.line20 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.line21 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -40px;
}
.pict_line2_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line2_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line2 {
    margin-top: -32px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -40px;
}
.line23 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -20px;
}
.line24 {
    position: relative;
    margin-top: -50px;
}
.line25 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -36px;
}
.line26 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    position: relative;
    margin-top: -20px;
}
.line27 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.line28 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -28px;
}
.line29 {
    position: relative;
    margin-top: -40px;
}
.line30 {
    text-align: right;
    position: relative;
    margin-top: -40px;
}
.line31 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.pict_line3_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line3_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line32 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -44px;
}
.line33 {
    position: relative;
    margin-top: -40px;
}
.line34 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -30px;
}
.line35 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.line36 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -46px;
}
.line37 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line38 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -16px;
}
.line39 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -40px;
}
.line40 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.footer {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}
.left {
    line-height: 48px;
}
.left > h4 {
    color: white;
}
.left > h5 {
    color: white;
}
.right {
    text-align: right;
    line-height: 48px;
}
.right > h3 {
    color: white;
}
.right > h6 {
    color: white;
}
