body {
    margin: 0 auto;
    cursor: url('https://i.imgur.com/s5dlYp6.png'), default;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 200px;
    color: #000;
}
h2 {
    font-family: 'Times New Roman', serif;
    font-size: 200px;
    color: #000;
}
h3 {
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    color: #000;
}
h4 {
    font-family: 'Times New Roman', serif;
    font-size: 100px;
    color: #000;
}
h5 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #000;
}
h6 {
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    color: #000;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #000;
}
.line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -44px;
}
.line2 {
    position: relative;
    margin-top: -40px;
}
/* Базовые стили текста */
.shaky-text-up {
    display: inline-block;
    cursor: pointer;
    animation: shake-up 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake-up {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(-10px);
    }
}
.line3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -30px;
}
.line4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
/* Базовые стили текста */
.shaky-text {
    display: inline-block;
    cursor: pointer;
}
/* Анимация при наведении */
.shaky-text:hover {
    animation: shake 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
}
.line5 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -46px;
}
.running-text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    animation: marquee 6s linear infinite;
}
.running-text::before {
    content: attr(data-content);
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 100%;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.line6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
@keyframes rotateanimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.line6 h5 {
    animation: rotateanimation 2s ease-in-out infinite; /* вращение h1 */
}
.line7 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -16px;
}
.shaky-text-auto {
    display: inline-block;
    cursor: pointer;
    animation: shake-auto 0.2s ease-in-out infinite;
}
/* Ключевые кадры анимации */
@keyframes shake-auto {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
}
.line8 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -40px;
}
.rotate-text {
    transition: transform 0.3s ease;
}
  /* Анимация */
.rotate-text:hover {
    transform: rotate(180deg);
}
.line9 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.line10 {
    position: relative;
    margin-top: -20px;
}
.line10 h3 {
    display: inline-block;
    transform-origin: left;
    animation: scaleXAnimation 2s linear infinite alternate;
}
.line11 {
    text-align: right;
    position: relative;
    margin-top: -50px;
}
.line11 h2 {
    transition: transform 0.5s ease; /* Добавляем плавный переход для трансформации */
}
.line11:hover h2 {
    transform: translateX(-100%); /* При наведении сдвигаем текст влево на 100% его ширины */
}
.line12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line13 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -34px;
}
img {
    width: 100%;
    height: auto;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.line13 h1, .line13 h3 {
    text-align: center;
    margin: 0;
}

.line13 h1 {
    animation: rotateAnimation 2s ease-in-out infinite; /* вращение h1 */
}

.line13 h3 {
    animation: scaleAnimation 2s ease-in-out infinite; /* увеличение h3 в два раза */
    transform-origin: center; /* точка трансформации в центре элемента */
}
.pict_line1_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line1_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line1 {
    margin-top: -32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pict_line1_left img {
    transition: transform 0.3s ease-in-out;
}
.pict_line1_left img:hover {
    transform: scale(1.1);
}
.pict_line1_right img {
    transition: transform 0.3s ease-in-out;
}
.pict_line1_right img:hover {
    transform: scale(1.1);
}
.pict_line1_left .lol img:hover {
    content: url('../images/lol_hover.png');
}
.buble_lol {
    display: none;
    background-image: url('../images/bable.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: -44px;
}
.buble_lol p {
    text-align: center;
    width: 260px;
    
    margin: 42px 0 0 58px;
}
.pict_line1_left .lol:hover ~ .buble_lol {
    display: block;
}
.pict_line1_left .mike img:hover {
    content: url('../images/mike_hover.png');
}
.buble_mike {
    display: none;
    background-image: url('../images/bable2.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 333px;
    margin-top: 133px;
}
.buble_mike p {
    text-align: center;
    width: 260px;
    
    margin: 42px 0 0 58px;
}
.pict_line1_left .mike:hover ~ .buble_mike {
    display: block;
}
.pict_line1_left .bugurt img:hover {
    content: url('../images/bugurt_hover.png');
}
.buble_bugurt {
    display: none;
    background-image: url('../images/bable.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 620px;
    margin-top: -44px;
}
.buble_bugurt p {
    text-align: center;
    width: 252px;
    
    margin: 34px 0 0 58px;
}
.pict_line1_left .bugurt:hover ~ .buble_bugurt {
    display: block;
}
.pict_line1_right .nichosi img:hover {
    content: url('../images/nichosi_hover.png');
    position: relative;
    z-index: 2;
}
.buble_nichosi  {
    display: none;
    background-image: url('../images/bable4.svg');
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: -280px;
    margin-top: 130px;
}
.buble_nichosi  p {
    text-align: center;
    width: 244px;
    margin: 34px 0 0 58px;
}
.pict_line1_right .nichosi:hover ~ .buble_nichosi  {
    display: block;
}
.line14 {
    position: relative;
    margin-top: -46px;
}
.line15 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line16 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -50px;
}
.line17 {
    position: relative;
    margin-top: -46px;
}
.line17 h3 {
    display: inline-block;
    transform-origin: left;
    animation: scaleXAnimation 2s linear infinite alternate;
}
@keyframes scaleXAnimation {
    0%, 100% {
      transform: scaleX(1); /* Начальное и конечное положение, без изменения размера */
    }
    50% {
      transform: scaleX(2);
    }
}
.line18 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -28px;
}
.line19 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}
.line19 h5 {
    animation: rotateanimation 2s ease-in-out infinite; /* вращение h1 */
}
.line20 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.line21 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -40px;
}
.line21 h1, .line21 h3 {
    text-align: center;
    margin: 0;
}

.line21 h1 {
    animation: rotateAnimation 2s ease-in-out infinite; /* вращение h1 */
}

.line21 h3 {
    animation: scaleAnimation 2s ease-in-out infinite; /* увеличение h3 в два раза */
    transform-origin: center; /* точка трансформации в центре элемента */
}
.pict_line2_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line2_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line2 {
    margin-top: -32px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pict_line2_left img {
    transition: transform 0.3s ease-in-out;
}
.pict_line2_left img:hover {
    transform: scale(1.1);
}
.pict_line2_right img {
    transition: transform 0.3s ease-in-out;
}
.pict_line2_right img:hover {
    transform: scale(1.1);
}
.pict_line2_left .artem img:hover {
    content: url('../images/artem_hover.png');
}
.buble_artem {
    display: none;
    background-image: url('../images/bable2.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 168px;
    margin-top: 148px;
}
.buble_artem p {
    text-align: center;
    width: 286px;
    margin: 48px 0 0 44px;
}
.pict_line2_left .artem:hover ~ .buble_artem {
    display: block;
}
.pict_line2_left .thisis img:hover {
    content: url('../images/thisis_hover.png');
}
.buble_thisis {
    display: none;
    background-image: url('../images/bable.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 500px;
    margin-top: -40px;
}
.buble_thisis p {
    text-align: center;
    width: 260px;
    
    margin: 42px 0 0 58px;
}
.pict_line2_left .thisis:hover ~ .buble_thisis {
    display: block;
}
.pict_line2_right .yzbagoisya img:hover {
    content: url('../images/yzbagoisya_hover.png');
}
.buble_yzbagoisya {
    display: none;
    background-image: url('../images/bable4.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: -280px;
    margin-top: 160px;
}
.buble_yzbagoisya p {
    text-align: center;
    width: 252px;
    margin: 34px 0 0 58px;
}
.pict_line2_right .yzbagoisya:hover ~ .buble_yzbagoisya {
    display: block;
}
.pict_line2_right .troll img:hover {
    content: url('../images/troll_hover.png');
    position: relative;
    z-index: 2;
}
.buble_troll  {
    display: none;
    background-image: url('../images/bable3.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: -159px;
    margin-top: -78px;
}
.buble_troll  p {
    text-align: center;
    width: 252px;
    margin: 34px 0 0 58px;
}
.pict_line2_right .troll:hover ~ .buble_troll  {
    display: block;
}
.line22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -40px;
}
.line23 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -20px;
}
.line24 {
    position: relative;
    margin-top: -50px;
}
.line24 h2::after {
    content: "L"; /* Пустой контент */
    opacity: 1; /* Начальная невидимость */
}
.line24:hover h2::after {
    content: "ООООOL"; /* Добавляем текст при наведении */
    opacity: 1; /* Делаем видимым */
}
.line25 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -36px;
}
.line26 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    position: relative;
    margin-top: -20px;
}
.line27 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.line28 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -28px;
}
.line29 {
    width: 100%;
    position: relative;
    margin-top: -40px;
    
}

.line30 {
    text-align: right;
    position: relative;
    margin-top: -40px;
}
.line31 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.pict_line3_left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line3_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pict_line3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pict_line3_left img {
    transition: transform 0.3s ease-in-out;
}
.pict_line3_left img:hover {
    transform: scale(1.1);
}
.pict_line3_right img {
    transition: transform 0.3s ease-in-out;
}
.pict_line3_right img:hover {
    transform: scale(1.1);
}
.pict_line3_left .nyancat img:hover {
    content: url('../images/nyancat_hover.png');
    position: relative;
    z-index: 1;
}
.buble_nyancat {
    display: none;
    background-image: url('../images/bable.svg');
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 630px;
    margin-top: -24px;
}
.buble_nyancat p {
    text-align: center;
    width: 286px;
    margin: 48px 0 0 44px;
}
.pict_line3_left .nyancat:hover ~ .buble_nyancat {
    display: block;
}
.pict_line3_right .zhdun img:hover {
    content: url('../images/zhdun_hover.png');
}
.buble_zhdun {
    display: none;
    background-image: url('../images/bable4.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: -324px;
    margin-top: 150px;
}
.buble_zhdun p {
    text-align: center;
    width: 260px;
    margin: 42px 0 0 58px;
}
.pict_line3_right .zhdun:hover ~ .buble_zhdun {
    display: block;
}
.pict_line3_right .pepe img:hover {
    content: url('../images/pepe_hover.png');
    position: relative;
    z-index: 2;
}
.buble_pepe {
    display: none;
    background-image: url('../images/bable3.svg');
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: -164px;
    margin-top: -50px;
}
.buble_pepe p {
    text-align: center;
    width: 252px;
    margin: 34px 0 0 58px;
}
.pict_line3_right .pepe:hover ~ .buble_pepe {
    display: block;
}
.pict_line3_right .smalldog img:hover {
    content: url('../images/smalldog_hover.png');
    position: relative;
    z-index: 2;
}
.buble_smalldog  {
    display: none;
    background-image: url('../images/bable4.svg');
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-top: 169px;
}
.buble_smalldog  p {
    text-align: center;
    width: 235px;
    margin: 44px 0 0 66px;
}
.pict_line3_right .smalldog:hover ~ .buble_smalldog  {
    display: block;
}
.line32 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -44px;
}
.line33 {
    position: relative;
    margin-top: -40px;
}
.line34 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -30px;
}
.line35 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -12px;
}
.line36 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -46px;
}
.line37 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: -40px;
}
.line37 h5 {
    animation: rotateanimation 2s ease-in-out infinite; /* вращение h1 */
}
.line38 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    margin-top: -16px;
}
.line39 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -40px;
}
.line40 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 8px;
}
.footer {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}
.left {
    line-height: 48px;
}
.left > h4 {
    color: white;
}
.left > h5 {
    color: white;
}
.right {
    text-align: right;
    line-height: 48px;
}
.right > h3 {
    color: white;
}
.right > h6 {
    color: white;
}
